<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Simple E-commerce</title>

  <link rel="icon" href="{% static 'images/favicon.jpg' %}" type="image/x-icon">

  <style>
    body{
      background: linear-gradient(to right, wheat, #1565c0) 

    }
  </style>
</head>

<body style="background-color: #B3E5FC;">

  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}

  <center style="width: 70%; margin-left: 15%;">
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>

    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit" value="Send Message" class='btn btn-primary btn-lg'>
      </div>
    </form>
  </center>
  {% include "ecom/footer.html" %}
</body>


</html>
